.body 
{ 
    margin: 0px; 
} 

.header 
{ 
    height: 40px; 
    width: 100%; 
    background-color: black; 
    top: 0;
    position: sticky;
} 

.nav 
{ 
    display: flex; 
    justify-content: space-evenly; 
} 

.navLinks 
{ 
    color: white; 
} 

.halfBox 
{ 
    width: 50%; 
    height: 100%; 
    border: 2px solid rgb(45, 159, 0); 
    display: flex;
    justify-content: center;
    align-items: center;
} 

.pfpBox
{
    height: 90%;
    aspect-ratio: 1 / 1;
    background-color: black;
    border-radius: 15px;
}

.mainContent
{
}

.blackBox 
{ 
    background-color: rgb(255, 255, 255); 
    height: 500px; 
    width: 100%; 
} 

.greenBox 
{ 
    background-color: rgb(0, 254, 127); 
    height: 500px; 
    width: 100%; 
    display: flex;
    justify-content: end;

} 

.pfp
{
    height: 100px;
    width: 100px;
    border: 2px solid yellow;
}

.mainInfo
{
    width: 80%;
    height: 100px;
    border: 2px solid black;

}

.skills
{
    height: 70%;
    width: 60%;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    margin-top: 100px;
    margin-right: 100px;
    padding: 20px;
}

.contact
{
    height: 70%;
    width: 60%;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    margin-top: 100px;
    margin-left: 100px;
    padding: 20px;
}

.footer
{
    width: 100%;
    height: 100px;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
}
