.body 
{ 
    margin: 0px; 
} 

.header 
{ 
    height: 40px; 
    width: 100%; 
    background-color: black; 
    position: sticky;
    top: 0;
    z-index: 1000;
} 

.nav 
{ 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
} 

.navLinks 
{ 
    color: white; 
} 

.halfBox 
{ 
    width: 50%; 
    height: 100%; 
    border: 2px solid rgb(45, 159, 0); 
    display: flex;
    justify-content: center;
    align-items: center;
} 

.pfpBox
{
    height: 90%;
    aspect-ratio: 1 / 1;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp
{
    height: 100px;
    width: 100px;
    border: 2px solid yellow;
}

.mainInfo
{
    width: 60%;
    height: auto;
    border: 2px solid black;
    margin-left: 10px;

}

.blackBox 
{ 
    background-color: rgb(255, 255, 255); 
    height: 500px; 
    width: 100%; 
    display: flex;
    justify-content: center;
} 

.purpleBox 
{ 
    background-color: rgb(138, 100, 184); 
    height: 500px; 
    width: 100%; 
    display: flex;
    align-items: center;

} 

.skills
{
    height: 70%;
    width: 60%;
    border: 3px solid white;
    border-radius: 15px;
    padding: 20px;
    margin-left: 100px;
}

.contact
{
    height: 70%;
    width: 60%;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    margin-top: 100px;
    margin-left: 100px;
    padding: 20px;
}

.myProject
{
    width: 100%;
    height: 700px;
    background-color: rgb(138, 100, 184);
}

.myProjInfo
{
    height: 90%;
    width: 50%;
    background-color: black;
    border-radius: 15px;
}

.footer
{
    width: 100%;
    height: 100px;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
}
